In [60]:
paper = [
         'Combining Character and Word Information in Neural Machine Translation Using a Multi-Level Attention',
         'On the value of temporal information in information retrieval',
         'Learning Curve Prediction with Bayesian Neural Networks',
         'Leveraging linguistic structure for open domain information extraction',
         'Speeding up the hyperparameter optimization of deep convolutional neural net-works',
         'Resource leveling in construction projects with activity splitting and resource constraints: a simulated annealing optimization',
         'Temporal Information Retrieval: Challenges and Opportunities.',
         'Hyperparameter Optimization: A Spectral Approach',
         'Bayesian optimization with robust Bayesian neural networks',
         'Variational learning of inducing variables in sparse Gaussian processes',
         'Temporal information in speech: acoustic, auditory and linguistic aspects',
         'Google’s neural machine translation system: Bridging the gap between human and machine translation',
         'Optuna: A Next-generation Hyperparameter Optimization Framework',
         'Information retrieval as statistical translation',
         'Speeding up Hyper-parameter Optimization by Extrapolation of Learning Curves Using Previous Builds',
         'Optimal hyperparameters for deep lstm-networks for sequence labeling tasks',
         'Enriching word vectors with subword information',
         'Speeding up automatic hyperparameter optimization of deep neural networks by extrapolation of learning curves',
         'Neural machine translation in linear time',
         'A System for Massively Parallel Hyperparameter Tuning',
         'Linguistic input features improve neural machine translation',
         'Predictive entropy search for efficient global optimization of black-box functions',
         'Semeval-2015 task 5: Qa tempeval-evaluating temporal information under-standing with question answering',
         'Lmu munich’s neural machine translation systems for news articles and health information texts',
         'Accelerating neural architecture search using performance prediction',
         'Recent approaches to global optimization problems through particle swarm optimization',
         'Reactive Search and Intelligent Optimization',
         'Space mapping technique for electromagnetic optimization',
         'Nonlinear multiobjective optimization',
         'Hyperband: A novel bandit-based approach to hyperparameter optimization'

]

In [61]:
import pandas as pd

In [62]:
paper

['Combining Character and Word Information in Neural Machine Translation Using a Multi-Level Attention',
 'On the value of temporal information in information retrieval',
 'Learning Curve Prediction with Bayesian Neural Networks',
 'Leveraging linguistic structure for open domain information extraction',
 'Speeding up the hyperparameter optimization of deep convolutional neural net-works',
 'Resource leveling in construction projects with activity splitting and resource constraints: a simulated annealing optimization',
 'Temporal Information Retrieval: Challenges and Opportunities.',
 'Hyperparameter Optimization: A Spectral Approach',
 'Bayesian optimization with robust Bayesian neural networks',
 'Variational learning of inducing variables in sparse Gaussian processes',
 'Temporal information in speech: acoustic, auditory and linguistic aspects',
 'Google’s neural machine translation system: Bridging the gap between human and machine translation',
 'Optuna: A Next-generation Hyperparameter Optimization Framework',
 'Information retrieval as statistical translation',
 'Speeding up Hyper-parameter Optimization by Extrapolation of Learning Curves Using Previous Builds',
 'Optimal hyperparameters for deep lstm-networks for sequence labeling tasks',
 'Enriching word vectors with subword information',
 'Speeding up automatic hyperparameter optimization of deep neural networks by extrapolation of learning curves',
 'Neural machine translation in linear time',
 'A System for Massively Parallel Hyperparameter Tuning',
 'Linguistic input features improve neural machine translation',
 'Predictive entropy search for efficient global optimization of black-box functions',
 'Semeval-2015 task 5: Qa tempeval-evaluating temporal information under-standing with question answering',
 'Lmu munich’s neural machine translation systems for news articles and health information texts',
 'Accelerating neural architecture search using performance prediction',
 'Recent approaches to global optimization problems through particle swarm optimization',
 'Reactive Search and Intelligent Optimization',
 'Space mapping technique for electromagnetic optimization',
 'Nonlinear multiobjective optimization',
 'Hyperband: A novel bandit-based approach to hyperparameter optimization']

# 文字変換

In [63]:
#  小文字に変換

for i in range(len(paper)):
    paper[i] = paper[i].lower()
paper

['combining character and word information in neural machine translation using a multi-level attention',
 'on the value of temporal information in information retrieval',
 'learning curve prediction with bayesian neural networks',
 'leveraging linguistic structure for open domain information extraction',
 'speeding up the hyperparameter optimization of deep convolutional neural net-works',
 'resource leveling in construction projects with activity splitting and resource constraints: a simulated annealing optimization',
 'temporal information retrieval: challenges and opportunities.',
 'hyperparameter optimization: a spectral approach',
 'bayesian optimization with robust bayesian neural networks',
 'variational learning of inducing variables in sparse gaussian processes',
 'temporal information in speech: acoustic, auditory and linguistic aspects',
 'google’s neural machine translation system: bridging the gap between human and machine translation',
 'optuna: a next-generation hyperparameter optimization framework',
 'information retrieval as statistical translation',
 'speeding up hyper-parameter optimization by extrapolation of learning curves using previous builds',
 'optimal hyperparameters for deep lstm-networks for sequence labeling tasks',
 'enriching word vectors with subword information',
 'speeding up automatic hyperparameter optimization of deep neural networks by extrapolation of learning curves',
 'neural machine translation in linear time',
 'a system for massively parallel hyperparameter tuning',
 'linguistic input features improve neural machine translation',
 'predictive entropy search for efficient global optimization of black-box functions',
 'semeval-2015 task 5: qa tempeval-evaluating temporal information under-standing with question answering',
 'lmu munich’s neural machine translation systems for news articles and health information texts',
 'accelerating neural architecture search using performance prediction',
 'recent approaches to global optimization problems through particle swarm optimization',
 'reactive search and intelligent optimization',
 'space mapping technique for electromagnetic optimization',
 'nonlinear multiobjective optimization',
 'hyperband: a novel bandit-based approach to hyperparameter optimization']

# 記号の削除

In [64]:
for i in range(len(paper)):
    # -
    paper[i] = paper[i].replace('-','')
    # .
    paper[i] = paper[i].replace('.','')
    # :
    paper[i] = paper[i].replace(':','')
    # '
    paper[i] = paper[i].replace("’s","")
    # ,
    paper[i] = paper[i].replace(",","")

paper

['combining character and word information in neural machine translation using a multilevel attention',
 'on the value of temporal information in information retrieval',
 'learning curve prediction with bayesian neural networks',
 'leveraging linguistic structure for open domain information extraction',
 'speeding up the hyperparameter optimization of deep convolutional neural networks',
 'resource leveling in construction projects with activity splitting and resource constraints a simulated annealing optimization',
 'temporal information retrieval challenges and opportunities',
 'hyperparameter optimization a spectral approach',
 'bayesian optimization with robust bayesian neural networks',
 'variational learning of inducing variables in sparse gaussian processes',
 'temporal information in speech acoustic auditory and linguistic aspects',
 'google neural machine translation system bridging the gap between human and machine translation',
 'optuna a nextgeneration hyperparameter optimization framework',
 'information retrieval as statistical translation',
 'speeding up hyperparameter optimization by extrapolation of learning curves using previous builds',
 'optimal hyperparameters for deep lstmnetworks for sequence labeling tasks',
 'enriching word vectors with subword information',
 'speeding up automatic hyperparameter optimization of deep neural networks by extrapolation of learning curves',
 'neural machine translation in linear time',
 'a system for massively parallel hyperparameter tuning',
 'linguistic input features improve neural machine translation',
 'predictive entropy search for efficient global optimization of blackbox functions',
 'semeval2015 task 5 qa tempevalevaluating temporal information understanding with question answering',
 'lmu munich neural machine translation systems for news articles and health information texts',
 'accelerating neural architecture search using performance prediction',
 'recent approaches to global optimization problems through particle swarm optimization',
 'reactive search and intelligent optimization',
 'space mapping technique for electromagnetic optimization',
 'nonlinear multiobjective optimization',
 'hyperband a novel banditbased approach to hyperparameter optimization']

# Delete Stopwords

In [65]:
import pandas as pd

In [66]:
stopword = pd.read_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/RAKE-master/SmartStoplist.txt',header=None)

In [67]:
stopword.columns = ['words']

In [68]:
stopword

          words
0             a
1           a's
2          able
3         about
4         above
..          ...
566       yours
567    yourself
568  yourselves
569           z
570        zero

[571 rows x 1 columns]

In [69]:
with open('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/RAKE-master/SmartStoplist.txt', 'r') as f:
    stopword2 = f.read().split("\n")

In [70]:
papersplit = []
delsw = []
# papersplit = copy.deepcopy()
# paper num = 30
for i in range(30):
    papersplit.append(paper[i].split())
    delsw.append([x for x in papersplit[i] if x not in stopword2])

In [71]:
delsw

[['combining',
  'character',
  'word',
  'information',
  'neural',
  'machine',
  'translation',
  'multilevel',
  'attention'],
 ['temporal', 'information', 'information', 'retrieval'],
 ['learning', 'curve', 'prediction', 'bayesian', 'neural', 'networks'],
 ['leveraging',
  'linguistic',
  'structure',
  'open',
  'domain',
  'information',
  'extraction'],
 ['speeding',
  'hyperparameter',
  'optimization',
  'deep',
  'convolutional',
  'neural',
  'networks'],
 ['resource',
  'leveling',
  'construction',
  'projects',
  'activity',
  'splitting',
  'resource',
  'constraints',
  'simulated',
  'annealing',
  'optimization'],
 ['temporal', 'information', 'retrieval', 'challenges', 'opportunities'],
 ['hyperparameter', 'optimization', 'spectral', 'approach'],
 ['bayesian', 'optimization', 'robust', 'bayesian', 'neural', 'networks'],
 ['variational',
  'learning',
  'inducing',
  'variables',
  'sparse',
  'gaussian',
  'processes'],
 ['temporal',
  'information',
  'speech',
  'acoustic',
  'auditory',
  'linguistic',
  'aspects'],
 ['google',
  'neural',
  'machine',
  'translation',
  'system',
  'bridging',
  'gap',
  'human',
  'machine',
  'translation'],
 ['optuna', 'nextgeneration', 'hyperparameter', 'optimization', 'framework'],
 ['information', 'retrieval', 'statistical', 'translation'],
 ['speeding',
  'hyperparameter',
  'optimization',
  'extrapolation',
  'learning',
  'curves',
  'previous',
  'builds'],
 ['optimal',
  'hyperparameters',
  'deep',
  'lstmnetworks',
  'sequence',
  'labeling',
  'tasks'],
 ['enriching', 'word', 'vectors', 'subword', 'information'],
 ['speeding',
  'automatic',
  'hyperparameter',
  'optimization',
  'deep',
  'neural',
  'networks',
  'extrapolation',
  'learning',
  'curves'],
 ['neural', 'machine', 'translation', 'linear', 'time'],
 ['system', 'massively', 'parallel', 'hyperparameter', 'tuning'],
 ['linguistic',
  'input',
  'features',
  'improve',
  'neural',
  'machine',
  'translation'],
 ['predictive',
  'entropy',
  'search',
  'efficient',
  'global',
  'optimization',
  'blackbox',
  'functions'],
 ['semeval2015',
  'task',
  '5',
  'qa',
  'tempevalevaluating',
  'temporal',
  'information',
  'understanding',
  'question',
  'answering'],
 ['lmu',
  'munich',
  'neural',
  'machine',
  'translation',
  'systems',
  'news',
  'articles',
  'health',
  'information',
  'texts'],
 ['accelerating',
  'neural',
  'architecture',
  'search',
  'performance',
  'prediction'],
 ['recent',
  'approaches',
  'global',
  'optimization',
  'problems',
  'particle',
  'swarm',
  'optimization'],
 ['reactive', 'search', 'intelligent', 'optimization'],
 ['space', 'mapping', 'technique', 'electromagnetic', 'optimization'],
 ['nonlinear', 'multiobjective', 'optimization'],
 ['hyperband', 'banditbased', 'approach', 'hyperparameter', 'optimization']]

In [72]:
# split
title_split = []
for i in paper:
    sp = i.split()
    title_split.append(list(sp))

In [73]:
title_split[0]

['combining',
 'character',
 'and',
 'word',
 'information',
 'in',
 'neural',
 'machine',
 'translation',
 'using',
 'a',
 'multilevel',
 'attention']

In [74]:
import copy

In [75]:
# make a copy
dele_sw_list = copy.deepcopy(delsw)

In [76]:
dele_sw_list[10]

['temporal',
 'information',
 'speech',
 'acoustic',
 'auditory',
 'linguistic',
 'aspects']

## finished stopwords

In [77]:

for i in range(len(dele_sw_list)):
    print('paper No.'+str(i+1)+str(dele_sw_list[i]))

paper No.1['combining', 'character', 'word', 'information', 'neural', 'machine', 'translation', 'multilevel', 'attention']
paper No.2['temporal', 'information', 'information', 'retrieval']
paper No.3['learning', 'curve', 'prediction', 'bayesian', 'neural', 'networks']
paper No.4['leveraging', 'linguistic', 'structure', 'open', 'domain', 'information', 'extraction']
paper No.5['speeding', 'hyperparameter', 'optimization', 'deep', 'convolutional', 'neural', 'networks']
paper No.6['resource', 'leveling', 'construction', 'projects', 'activity', 'splitting', 'resource', 'constraints', 'simulated', 'annealing', 'optimization']
paper No.7['temporal', 'information', 'retrieval', 'challenges', 'opportunities']
paper No.8['hyperparameter', 'optimization', 'spectral', 'approach']
paper No.9['bayesian', 'optimization', 'robust', 'bayesian', 'neural', 'networks']
paper No.10['variational', 'learning', 'inducing', 'variables', 'sparse', 'gaussian', 'processes']
paper No.11['temporal', 'information', 'speech', 'acoustic', 'auditory', 'linguistic', 'aspects']
paper No.12['google', 'neural', 'machine', 'translation', 'system', 'bridging', 'gap', 'human', 'machine', 'translation']
paper No.13['optuna', 'nextgeneration', 'hyperparameter', 'optimization', 'framework']
paper No.14['information', 'retrieval', 'statistical', 'translation']
paper No.15['speeding', 'hyperparameter', 'optimization', 'extrapolation', 'learning', 'curves', 'previous', 'builds']
paper No.16['optimal', 'hyperparameters', 'deep', 'lstmnetworks', 'sequence', 'labeling', 'tasks']
paper No.17['enriching', 'word', 'vectors', 'subword', 'information']
paper No.18['speeding', 'automatic', 'hyperparameter', 'optimization', 'deep', 'neural', 'networks', 'extrapolation', 'learning', 'curves']
paper No.19['neural', 'machine', 'translation', 'linear', 'time']
paper No.20['system', 'massively', 'parallel', 'hyperparameter', 'tuning']
paper No.21['linguistic', 'input', 'features', 'improve', 'neural', 'machine', 'translation']
paper No.22['predictive', 'entropy', 'search', 'efficient', 'global', 'optimization', 'blackbox', 'functions']
paper No.23['semeval2015', 'task', '5', 'qa', 'tempevalevaluating', 'temporal', 'information', 'understanding', 'question', 'answering']
paper No.24['lmu', 'munich', 'neural', 'machine', 'translation', 'systems', 'news', 'articles', 'health', 'information', 'texts']
paper No.25['accelerating', 'neural', 'architecture', 'search', 'performance', 'prediction']
paper No.26['recent', 'approaches', 'global', 'optimization', 'problems', 'particle', 'swarm', 'optimization']
paper No.27['reactive', 'search', 'intelligent', 'optimization']
paper No.28['space', 'mapping', 'technique', 'electromagnetic', 'optimization']
paper No.29['nonlinear', 'multiobjective', 'optimization']
paper No.30['hyperband', 'banditbased', 'approach', 'hyperparameter', 'optimization']

In [78]:
dele_sw_list[10][3] = 'acoustic'

# 接辞処理

In [79]:
from nltk.stem.porter import PorterStemmer as PS

In [80]:
import nltk
# nltk.download('punkt')

In [81]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
sentence = "numpang wifi stop gadget shopping"
tokens = word_tokenize(sentence)
stemmer=PorterStemmer()

Output=[stemmer.stem(word) for word in tokens]

In [82]:
Output

['numpang', 'wifi', 'stop', 'gadget', 'shop']

In [83]:
stem = dele_sw_list.copy()

In [84]:
for i in range(len(dele_sw_list)):
    for j in range(len(dele_sw_list[i])):
        stem[i][j] = stemmer.stem(dele_sw_list[i][j])

## finished stem

In [85]:
for i in stem:
    print(*i)

combin charact word inform neural machin translat multilevel attent
tempor inform inform retriev
learn curv predict bayesian neural network
leverag linguist structur open domain inform extract
speed hyperparamet optim deep convolut neural network
resourc level construct project activ split resourc constraint simul anneal optim
tempor inform retriev challeng opportun
hyperparamet optim spectral approach
bayesian optim robust bayesian neural network
variat learn induc variabl spars gaussian process
tempor inform speech acoust auditori linguist aspect
googl neural machin translat system bridg gap human machin translat
optuna nextgener hyperparamet optim framework
inform retriev statist translat
speed hyperparamet optim extrapol learn curv previou build
optim hyperparamet deep lstmnetwork sequenc label task
enrich word vector subword inform
speed automat hyperparamet optim deep neural network extrapol learn curv
neural machin translat linear time
system massiv parallel hyperparamet tune
linguist input featur improv neural machin translat
predict entropi search effici global optim blackbox function
semeval2015 task 5 qa tempevalevalu tempor inform understand question answer
lmu munich neural machin translat system news articl health inform text
acceler neural architectur search perform predict
recent approach global optim problem particl swarm optim
reactiv search intellig optim
space map techniqu electromagnet optim
nonlinear multiobject optim
hyperband banditbas approach hyperparamet optim

In [86]:
for i in range(len(stem)):
    print('Paper '+str(i+1), *stem[i],sep=', ')

Paper 1, combin, charact, word, inform, neural, machin, translat, multilevel, attent
Paper 2, tempor, inform, inform, retriev
Paper 3, learn, curv, predict, bayesian, neural, network
Paper 4, leverag, linguist, structur, open, domain, inform, extract
Paper 5, speed, hyperparamet, optim, deep, convolut, neural, network
Paper 6, resourc, level, construct, project, activ, split, resourc, constraint, simul, anneal, optim
Paper 7, tempor, inform, retriev, challeng, opportun
Paper 8, hyperparamet, optim, spectral, approach
Paper 9, bayesian, optim, robust, bayesian, neural, network
Paper 10, variat, learn, induc, variabl, spars, gaussian, process
Paper 11, tempor, inform, speech, acoust, auditori, linguist, aspect
Paper 12, googl, neural, machin, translat, system, bridg, gap, human, machin, translat
Paper 13, optuna, nextgener, hyperparamet, optim, framework
Paper 14, inform, retriev, statist, translat
Paper 15, speed, hyperparamet, optim, extrapol, learn, curv, previou, build
Paper 16, optim, hyperparamet, deep, lstmnetwork, sequenc, label, task
Paper 17, enrich, word, vector, subword, inform
Paper 18, speed, automat, hyperparamet, optim, deep, neural, network, extrapol, learn, curv
Paper 19, neural, machin, translat, linear, time
Paper 20, system, massiv, parallel, hyperparamet, tune
Paper 21, linguist, input, featur, improv, neural, machin, translat
Paper 22, predict, entropi, search, effici, global, optim, blackbox, function
Paper 23, semeval2015, task, 5, qa, tempevalevalu, tempor, inform, understand, question, answer
Paper 24, lmu, munich, neural, machin, translat, system, news, articl, health, inform, text
Paper 25, acceler, neural, architectur, search, perform, predict
Paper 26, recent, approach, global, optim, problem, particl, swarm, optim
Paper 27, reactiv, search, intellig, optim
Paper 28, space, map, techniqu, electromagnet, optim
Paper 29, nonlinear, multiobject, optim
Paper 30, hyperband, banditbas, approach, hyperparamet, optim

# 索引語の整理

In [87]:
stem[0]

['combin',
 'charact',
 'word',
 'inform',
 'neural',
 'machin',
 'translat',
 'multilevel',
 'attent']

## 各文書の長さ

In [88]:
index_word = []
for i in range(len(stem)):
    index_word.append(list(set(stem[i])))

In [89]:

for i in range(len(index_word)):
    print(len(index_word[i]))

9
3
6
7
7
10
5
4
5
7
7
8
5
4
8
7
5
10
5
5
7
8
10
11
6
7
4
5
3
5

In [90]:
iw = []

for i in index_word:
    for j in i:
        iw.append(j)

In [91]:
iw = list(set(iw))
len(iw)

115

# Paper 1

## TF

In [92]:
index_word[0]

['machin',
 'attent',
 'neural',
 'translat',
 'word',
 'combin',
 'multilevel',
 'charact',
 'inform']

In [93]:
len(index_word[0])

9

In [94]:
stem[10]

['tempor', 'inform', 'speech', 'acoust', 'auditori', 'linguist', 'aspect']

In [95]:
from more_itertools import chunked

## Paper1 IDF

In [96]:
all_paper_title = ['combin charact word inform neural machin translat use multilevel attent',
'the valu tempor inform inform retriev',
'learn curv predict bayesian neural network',
'leverag linguist structur open domain inform extract',
'speed the hyperparamet optim deep convolut neural network',
'resourc level construct project activ split resourc constraint simul anneal optim',
'tempor inform retriev challeng opportun',
'hyperparamet optim spectral approach',
'bayesian optim robust bayesian neural network',
'variat learn induc variabl spars gaussian process',
'tempor inform speech acoust auditori linguist aspect',
'googl neural machin translat system bridg gap human machin translat',
'optuna nextgener hyperparamet optim framework',
'inform retriev statist translat',
'speed hyperparamet optim extrapol learn curv use previou build',
'optim hyperparamet deep lstmnetwork sequenc label task',
'enrich word vector subword inform',
'speed automat hyperparamet optim deep neural network extrapol learn curv',
'neural machin translat linear time',
'system massiv parallel hyperparamet tune',
'linguist input featur improv neural machin translat',
'predict entropi search effici global optim blackbox function',
'semeval2015 task 5 qa tempevalevalu tempor inform understand question answer',
'lmu munich neural machin translat system news articl health inform text',
'acceler neural architectur search use perform predict',
'recent approach global optim through particl swarm optim',
'reactiv search intellig optim',
'space map techniqu electromagnet optim',
'nonlinear multiobject optim',
'hyperband novel banditbas approach hyperparamet optim']

In [97]:
import math

In [98]:
# 1+log2(N/freq)

def idf_comput(df, N):
    idf = []
    for i in df:
        x = 1+math.log2(N/i)
        idf.append(x)
    df['idf'] = idf

# Paper2

## TF

In [99]:
def get_tf(yourlist,new_tf_list):
    for i in range(30):
        for j in range(len(yourlist[0])):
            if sum(yourlist[i]) != 0:
                new_tf_list[i][j] = round(yourlist[i][j]/sum(yourlist[i]),3)
            else:
                new_tf_list[i][j] = 0.0

## IDF

In [100]:
def get_idf_df(yourlist, idflist,word_index):
    for i in range(len(yourlist)):
        for j in range(len(yourlist[i])):
            if yourlist[i][j] >=2:
                idflist[i][j] = 1

In [101]:
def to_df(idflist,word_index):
    idflist = pd.DataFrame(idflist)
    idflist.columns = index_word[word_index]
    idflist=pd.DataFrame(idflist.sum())
    idflist.columns = ['freq']

# Paper 3

## TF

In [102]:
# 频率行列
def get_freq_vec(stem,new_list,index_word,x):
    for i in range(len(stem)):
        for j in range(len(index_word[x])):
            new_list.append(stem[i].count(index_word[x][j]))

## df

In [103]:
def get_idf_df(yourlist, idflist):
    for i in range(len(yourlist)):
        for j in range(len(yourlist[i])):
            if yourlist[i][j] >=2:
                idflist[i][j] = 1

# Paper1~30 TF

In [104]:
def get_freq_vec(stem,new_list,index_word,x):
    for i in range(len(stem)):
        for j in range(len(index_word[x])):
            new_list.append(stem[i].count(index_word[x][j]))

In [105]:
p1 = []
p2 = []
p3 = []
p4 = []
p5 = []
p6 = []
p7 = []
p8 = []
p9 = []
p10 = []
p11 = []
p12 = []
p13 = []
p14 = []
p15 = []
p16 = []
p17 = []
p18 = []
p19 = []
p20 = []
p21 = []
p22 = []
p23 = []
p24 = []
p25 = []
p26 = []
p27 = []
p28 = []
p29 = []
p30 = []

In [106]:
paper_freq_list = [p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20,
p21,p22,p23,p24,p25,p26,p27,p28,p29,p30
]

In [107]:
paper_freq_list[0]

[]

In [108]:
len(paper_freq_list)

30

In [109]:
for i in range(len(paper_freq_list)):
    get_freq_vec(stem,paper_freq_list[i],index_word,i)

In [110]:
for i in range(len(paper_freq_list)):
    paper_freq_list[i] = list(chunked(paper_freq_list[i],len(index_word[i])))

In [111]:
p1_tf = []
p2_tf = []
p3_tf = []
p4_tf = []
p5_tf = []
p6_tf = []
p7_tf = []
p8_tf = []
p9_tf = []
p10_tf = []
p11_tf = []
p12_tf = []
p13_tf = []
p14_tf = []
p15_tf = []
p16_tf = []
p17_tf = []
p18_tf = []
p19_tf = []
p20_tf = []
p21_tf = []
p22_tf = []
p23_tf = []
p24_tf = []
p25_tf = []
p26_tf = []
p27_tf = []
p28_tf = []
p29_tf = []
p30_tf = []

In [112]:
paper_tf_list = [
p1_tf ,
p2_tf ,
p3_tf ,
p4_tf ,
p5_tf ,
p6_tf ,
p7_tf ,
p8_tf ,
p9_tf ,
p10_tf ,
p11_tf ,
p12_tf ,
p13_tf ,
p14_tf ,
p15_tf ,
p16_tf ,
p17_tf ,
p18_tf ,
p19_tf ,
p20_tf ,
p21_tf ,
p22_tf ,
p23_tf ,
p24_tf ,
p25_tf ,
p26_tf ,
p27_tf ,
p28_tf ,
p29_tf ,
p30_tf 
]

In [113]:
paper_tf_list = copy.deepcopy(paper_freq_list)

In [114]:
for i in range(30):
    get_tf(paper_freq_list[i],paper_tf_list[i])

In [115]:
# 4
print(*index_word[3])
for i in paper_tf_list[3]:
    print(*i)

structur domain extract linguist leverag inform open
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.143 0.143 0.143 0.143 0.143 0.143 0.143
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.5 0.0 0.5 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 1.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 1.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0
0.0 0.0 0.0 0.0 0.0 0.0 0.0

In [116]:
p1_tf = pd.DataFrame(paper_tf_list[0])
p2_tf = pd.DataFrame(paper_tf_list[1])
p3_tf = pd.DataFrame(paper_tf_list[2])
p4_tf = pd.DataFrame(paper_tf_list[3])
p5_tf = pd.DataFrame(paper_tf_list[4])
p6_tf = pd.DataFrame(paper_tf_list[5])
p7_tf = pd.DataFrame(paper_tf_list[6])
p8_tf = pd.DataFrame(paper_tf_list[7])
p9_tf = pd.DataFrame(paper_tf_list[8])
p10_tf = pd.DataFrame(paper_tf_list[9])
p11_tf = pd.DataFrame(paper_tf_list[10])
p12_tf = pd.DataFrame(paper_tf_list[11])
p13_tf = pd.DataFrame(paper_tf_list[12])
p14_tf = pd.DataFrame(paper_tf_list[13])
p15_tf = pd.DataFrame(paper_tf_list[14])
p16_tf = pd.DataFrame(paper_tf_list[15])
p17_tf = pd.DataFrame(paper_tf_list[16])
p18_tf = pd.DataFrame(paper_tf_list[17])
p19_tf = pd.DataFrame(paper_tf_list[18])
p20_tf = pd.DataFrame(paper_tf_list[19])
p21_tf = pd.DataFrame(paper_tf_list[20])
p22_tf = pd.DataFrame(paper_tf_list[21])
p23_tf = pd.DataFrame(paper_tf_list[22])
p24_tf = pd.DataFrame(paper_tf_list[23])
p25_tf = pd.DataFrame(paper_tf_list[24])
p26_tf = pd.DataFrame(paper_tf_list[25])
p27_tf = pd.DataFrame(paper_tf_list[26])
p28_tf = pd.DataFrame(paper_tf_list[27])
p29_tf = pd.DataFrame(paper_tf_list[28])
p30_tf = pd.DataFrame(paper_tf_list[29])

In [117]:
p1_tf.columns = index_word[0]
p2_tf.columns = index_word[1]
p3_tf.columns = index_word[2]


p4_tf.columns = index_word[3]
p5_tf.columns = index_word[4]
p6_tf.columns = index_word[5]
p7_tf.columns = index_word[6]
p8_tf.columns = index_word[7]
p9_tf.columns = index_word[8]
p10_tf.columns = index_word[9]
p11_tf.columns = index_word[10]
p12_tf.columns = index_word[11]
p13_tf.columns = index_word[12]
p14_tf.columns = index_word[13]
p15_tf.columns = index_word[14]
p16_tf.columns = index_word[15]
p17_tf.columns = index_word[16]
p18_tf.columns = index_word[17]
p19_tf.columns = index_word[18]
p20_tf.columns = index_word[19]
p21_tf.columns = index_word[20]
p22_tf.columns = index_word[21]
p23_tf.columns = index_word[22]
p24_tf.columns = index_word[23]
p25_tf.columns = index_word[24]
p26_tf.columns = index_word[25]
p27_tf.columns = index_word[26]
p28_tf.columns = index_word[27]
p29_tf.columns = index_word[28]
p30_tf.columns = index_word[29]

In [118]:

p1_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p1_tf.csv')
p2_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p2_tf.csv')
p3_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p3_tf.csv')
p4_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p4_tf.csv')
p5_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p5_tf.csv')
p6_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p6_tf.csv')
p7_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p7_tf.csv')
p8_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p8_tf.csv')
p9_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p9_tf.csv')
p10_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p10_tf.csv')
p11_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p11_tf.csv')
p12_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p12_tf.csv')
p13_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p13_tf.csv')
p14_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p14_tf.csv')
p15_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p15_tf.csv')
p16_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p16_tf.csv')
p17_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p17_tf.csv')
p18_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p18_tf.csv')
p19_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p19_tf.csv')
p20_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p20_tf.csv')
p21_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p21_tf.csv')
p22_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p22_tf.csv')
p23_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p23_tf.csv')
p24_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p24_tf.csv')
p25_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p25_tf.csv')
p26_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p26_tf.csv')
p27_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p27_tf.csv')
p28_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p28_tf.csv')
p29_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p29_tf.csv')
p30_tf.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p30_tf.csv')

# Paper IDF

In [119]:
def get_idf_df(yourlist, idflist,word_index):
    for i in range(len(yourlist)):
        for j in range(len(yourlist[i])):
            if yourlist[i][j] >=2:
                idflist[i][j] = 1

In [120]:
paper_idf_freq = copy.deepcopy(paper_freq_list)

In [121]:
for i in range(30):
    get_idf_df(paper_freq_list[i],paper_idf_freq[i],i)

In [122]:
p1_idf_vec = pd.DataFrame(paper_idf_freq[0])
p2_idf_vec = pd.DataFrame(paper_idf_freq[1])
p3_idf_vec = pd.DataFrame(paper_idf_freq[2])
p4_idf_vec = pd.DataFrame(paper_idf_freq[3])
p5_idf_vec = pd.DataFrame(paper_idf_freq[4])
p6_idf_vec = pd.DataFrame(paper_idf_freq[5])
p7_idf_vec = pd.DataFrame(paper_idf_freq[6])
p8_idf_vec = pd.DataFrame(paper_idf_freq[7])
p9_idf_vec = pd.DataFrame(paper_idf_freq[8])
p10_idf_vec = pd.DataFrame(paper_idf_freq[9])
p11_idf_vec = pd.DataFrame(paper_idf_freq[10])
p12_idf_vec = pd.DataFrame(paper_idf_freq[11])
p13_idf_vec = pd.DataFrame(paper_idf_freq[12])
p14_idf_vec = pd.DataFrame(paper_idf_freq[13])
p15_idf_vec = pd.DataFrame(paper_idf_freq[14])
p16_idf_vec = pd.DataFrame(paper_idf_freq[15])
p17_idf_vec = pd.DataFrame(paper_idf_freq[16])
p18_idf_vec = pd.DataFrame(paper_idf_freq[17])
p19_idf_vec = pd.DataFrame(paper_idf_freq[18])
p20_idf_vec = pd.DataFrame(paper_idf_freq[19])
p21_idf_vec = pd.DataFrame(paper_idf_freq[20])
p22_idf_vec = pd.DataFrame(paper_idf_freq[21])
p23_idf_vec = pd.DataFrame(paper_idf_freq[22])
p24_idf_vec = pd.DataFrame(paper_idf_freq[23])
p25_idf_vec = pd.DataFrame(paper_idf_freq[24])
p26_idf_vec = pd.DataFrame(paper_idf_freq[25])
p27_idf_vec = pd.DataFrame(paper_idf_freq[26])
p28_idf_vec = pd.DataFrame(paper_idf_freq[27])
p29_idf_vec = pd.DataFrame(paper_idf_freq[28])
p30_idf_vec = pd.DataFrame(paper_idf_freq[29])

In [123]:
p1_idf_vec.columns = index_word[0]
p2_idf_vec.columns = index_word[1]
p3_idf_vec.columns = index_word[2]
p4_idf_vec.columns = index_word[3]
p5_idf_vec.columns = index_word[4]
p6_idf_vec.columns = index_word[5]
p7_idf_vec.columns = index_word[6]
p8_idf_vec.columns= index_word[7]
p9_idf_vec.columns = index_word[8]
p10_idf_vec.columns = index_word[9]
p11_idf_vec.columns = index_word[10]
p12_idf_vec.columns = index_word[11]
p13_idf_vec.columns = index_word[12]
p14_idf_vec.columns = index_word[13]
p15_idf_vec.columns = index_word[14]
p16_idf_vec.columns = index_word[15]
p17_idf_vec.columns = index_word[16]
p18_idf_vec.columns = index_word[17]
p19_idf_vec.columns = index_word[18]
p20_idf_vec.columns = index_word[19]
p21_idf_vec.columns = index_word[20]
p22_idf_vec.columns = index_word[21]
p23_idf_vec.columns = index_word[22]
p24_idf_vec.columns = index_word[23]
p25_idf_vec.columns = index_word[24]
p26_idf_vec.columns = index_word[25]
p27_idf_vec.columns = index_word[26]
p28_idf_vec.columns = index_word[27]
p29_idf_vec.columns = index_word[28]
p30_idf_vec.columns = index_word[29]

In [124]:
p1_idf_vec = pd.DataFrame(p1_idf_vec.sum())
p2_idf_vec = pd.DataFrame(p2_idf_vec.sum())
p3_idf_vec = pd.DataFrame(p3_idf_vec.sum())
p4_idf_vec = pd.DataFrame(p4_idf_vec.sum())
p5_idf_vec = pd.DataFrame(p5_idf_vec.sum())
p6_idf_vec = pd.DataFrame(p6_idf_vec.sum())
p7_idf_vec = pd.DataFrame(p7_idf_vec.sum())
p8_idf_vec = pd.DataFrame(p8_idf_vec.sum())
p9_idf_vec = pd.DataFrame(p9_idf_vec.sum())
p10_idf_vec = pd.DataFrame(p10_idf_vec.sum())
p11_idf_vec = pd.DataFrame(p11_idf_vec.sum())
p12_idf_vec = pd.DataFrame(p12_idf_vec.sum())
p13_idf_vec = pd.DataFrame(p13_idf_vec.sum())
p14_idf_vec = pd.DataFrame(p14_idf_vec.sum())
p15_idf_vec = pd.DataFrame(p15_idf_vec.sum())
p16_idf_vec = pd.DataFrame(p16_idf_vec.sum())
p17_idf_vec = pd.DataFrame(p17_idf_vec.sum())
p18_idf_vec = pd.DataFrame(p18_idf_vec.sum())
p19_idf_vec = pd.DataFrame(p19_idf_vec.sum())
p20_idf_vec = pd.DataFrame(p20_idf_vec.sum())
p21_idf_vec = pd.DataFrame(p21_idf_vec.sum())
p22_idf_vec = pd.DataFrame(p22_idf_vec.sum())
p23_idf_vec = pd.DataFrame(p23_idf_vec.sum())
p24_idf_vec = pd.DataFrame(p24_idf_vec.sum())
p25_idf_vec = pd.DataFrame(p25_idf_vec.sum())
p26_idf_vec = pd.DataFrame(p26_idf_vec.sum())
p27_idf_vec = pd.DataFrame(p27_idf_vec.sum())
p28_idf_vec = pd.DataFrame(p28_idf_vec.sum())
p29_idf_vec = pd.DataFrame(p29_idf_vec.sum())
p30_idf_vec = pd.DataFrame(p30_idf_vec.sum())

In [125]:
p1_idf_vec.columns = ['freq']
p2_idf_vec.columns = ['freq']
p3_idf_vec.columns = ['freq']
p4_idf_vec.columns = ['freq']
p5_idf_vec.columns = ['freq']
p6_idf_vec.columns = ['freq']
p7_idf_vec.columns = ['freq']
p8_idf_vec.columns= ['freq']
p9_idf_vec.columns = ['freq']
p10_idf_vec.columns = ['freq']
p11_idf_vec.columns = ['freq']
p12_idf_vec.columns = ['freq']
p13_idf_vec.columns = ['freq']
p14_idf_vec.columns = ['freq']
p15_idf_vec.columns = ['freq']
p16_idf_vec.columns = ['freq']
p17_idf_vec.columns = ['freq']
p18_idf_vec.columns = ['freq']
p19_idf_vec.columns = ['freq']
p20_idf_vec.columns = ['freq']
p21_idf_vec.columns = ['freq']
p22_idf_vec.columns = ['freq']
p23_idf_vec.columns = ['freq']
p24_idf_vec.columns = ['freq']
p25_idf_vec.columns = ['freq']
p26_idf_vec.columns = ['freq']
p27_idf_vec.columns = ['freq']
p28_idf_vec.columns = ['freq']
p29_idf_vec.columns = ['freq']
p30_idf_vec.columns = ['freq']

In [126]:
p1_idfcc = []
for i in p1_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p1_idfcc.append(x)
p1_idf_vec['idf'] = p1_idfcc

In [127]:
p2_idfcc = []
for i in p2_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p2_idfcc.append(x)
p2_idf_vec['idf'] = p2_idfcc

In [128]:
p2_idf_vec

         freq       idf
retriev     3  4.321928
tempor      4  3.906891
inform      9  2.736966

In [129]:
p3_idfcc = []
for i in p3_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p3_idfcc.append(x)
p3_idf_vec['idf'] = p3_idfcc

In [130]:
p3_idf_vec

          freq       idf
neural      10  2.584963
network      4  3.906891
predict      3  4.321928
learn        4  3.906891
curv         3  4.321928
bayesian     2  4.906891

In [131]:
p4_idfcc = []
for i in p4_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p4_idfcc.append(x)
p4_idf_vec['idf'] = p4_idfcc

In [132]:
p4_idf_vec

          freq       idf
structur     1  5.906891
domain       1  5.906891
extract      1  5.906891
linguist     3  4.321928
leverag      1  5.906891
inform       9  2.736966
open         1  5.906891

In [133]:
p5_idfcc = []
for i in p5_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p5_idfcc.append(x)
p5_idf_vec['idf'] = p5_idfcc
p5_idf_vec

              freq       idf
deep             3  4.321928
neural          10  2.584963
hyperparamet     8  2.906891
convolut         1  5.906891
speed            3  4.321928
network          4  3.906891
optim           14  2.099536

In [134]:
p6_idfcc = []
for i in p6_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p6_idfcc.append(x)
p6_idf_vec['idf'] = p6_idfcc
p6_idf_vec

            freq       idf
constraint     1  5.906891
activ          1  5.906891
construct      1  5.906891
optim         14  2.099536
project        1  5.906891
simul          1  5.906891
resourc        1  5.906891
level          1  5.906891
split          1  5.906891
anneal         1  5.906891

In [135]:
p7_idfcc = []
for i in p7_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p7_idfcc.append(x)
p7_idf_vec['idf'] = p7_idfcc
p7_idf_vec

          freq       idf
tempor       4  3.906891
opportun     1  5.906891
challeng     1  5.906891
inform       9  2.736966
retriev      3  4.321928

In [136]:
p8_idfcc = []
for i in p8_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p8_idfcc.append(x)
p8_idf_vec['idf'] = p8_idfcc
p8_idf_vec

              freq       idf
spectral         1  5.906891
approach         3  4.321928
optim           14  2.099536
hyperparamet     8  2.906891

In [137]:
p9_idfcc = []
for i in p9_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p9_idfcc.append(x)
p9_idf_vec['idf'] = p9_idfcc
p9_idf_vec

          freq       idf
neural      10  2.584963
robust       1  5.906891
network      4  3.906891
optim       14  2.099536
bayesian     2  4.906891

In [138]:
p10_idfcc = []
for i in p10_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p10_idfcc.append(x)
p10_idf_vec['idf'] = p10_idfcc
p10_idf_vec

          freq       idf
variabl      1  5.906891
gaussian     1  5.906891
process      1  5.906891
induc        1  5.906891
spars        1  5.906891
learn        4  3.906891
variat       1  5.906891

In [139]:
p11_idfcc = []
for i in p11_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p11_idfcc.append(x)
p11_idf_vec['idf'] = p11_idfcc
p11_idf_vec

          freq       idf
linguist     3  4.321928
auditori     1  5.906891
tempor       4  3.906891
speech       1  5.906891
inform       9  2.736966
aspect       1  5.906891
acoust       1  5.906891

In [140]:
p12_idfcc = []
for i in p12_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p12_idfcc.append(x)
p12_idf_vec['idf'] = p12_idfcc
p12_idf_vec

          freq       idf
machin       5  3.584963
neural      10  2.584963
translat     6  3.321928
system       3  4.321928
googl        1  5.906891
human        1  5.906891
bridg        1  5.906891
gap          1  5.906891

In [141]:
p13_idfcc = []
for i in p13_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p13_idfcc.append(x)
p13_idf_vec['idf'] = p13_idfcc
p13_idf_vec

              freq       idf
hyperparamet     8  2.906891
framework        1  5.906891
optuna           1  5.906891
nextgener        1  5.906891
optim           14  2.099536

In [142]:
p14_idfcc = []
for i in p14_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p14_idfcc.append(x)
p14_idf_vec['idf'] = p14_idfcc
p14_idf_vec

          freq       idf
retriev      3  4.321928
statist      1  5.906891
translat     6  3.321928
inform       9  2.736966

In [143]:
p15_idfcc = []
for i in p15_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p15_idfcc.append(x)
p15_idf_vec['idf'] = p15_idfcc
p15_idf_vec

              freq       idf
previou          1  5.906891
hyperparamet     8  2.906891
extrapol         2  4.906891
speed            3  4.321928
learn            4  3.906891
build            1  5.906891
optim           14  2.099536
curv             3  4.321928

In [144]:
p16_idfcc = []
for i in p16_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p16_idfcc.append(x)
p16_idf_vec['idf'] = p16_idfcc
p16_idf_vec

              freq       idf
deep             3  4.321928
label            1  5.906891
hyperparamet     8  2.906891
task             2  4.906891
sequenc          1  5.906891
lstmnetwork      1  5.906891
optim           14  2.099536

In [145]:
p17_idfcc = []
for i in p17_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p17_idfcc.append(x)
p17_idf_vec['idf'] = p17_idfcc
p17_idf_vec

         freq       idf
word        2  4.906891
enrich      1  5.906891
subword     1  5.906891
inform      9  2.736966
vector      1  5.906891

In [146]:
p18_idfcc = []
for i in p18_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p18_idfcc.append(x)
p18_idf_vec['idf'] = p18_idfcc
p18_idf_vec

              freq       idf
deep             3  4.321928
neural          10  2.584963
hyperparamet     8  2.906891
extrapol         2  4.906891
automat          1  5.906891
speed            3  4.321928
learn            4  3.906891
network          4  3.906891
optim           14  2.099536
curv             3  4.321928

In [147]:
p19_idfcc = []
for i in p19_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p19_idfcc.append(x)
p19_idf_vec['idf'] = p19_idfcc
p19_idf_vec

          freq       idf
machin       5  3.584963
neural      10  2.584963
translat     6  3.321928
time         1  5.906891
linear       1  5.906891

In [148]:
p20_idfcc = []
for i in p20_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p20_idfcc.append(x)
p20_idf_vec['idf'] = p20_idfcc
p20_idf_vec

              freq       idf
hyperparamet     8  2.906891
massiv           1  5.906891
system           3  4.321928
parallel         1  5.906891
tune             1  5.906891

In [149]:
p21_idfcc = []
for i in p21_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p21_idfcc.append(x)
p21_idf_vec['idf'] = p21_idfcc
p21_idf_vec

          freq       idf
machin       5  3.584963
neural      10  2.584963
improv       1  5.906891
translat     6  3.321928
linguist     3  4.321928
input        1  5.906891
featur       1  5.906891

In [150]:
p22_idfcc = []
for i in p22_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p22_idfcc.append(x)
p22_idf_vec['idf'] = p22_idfcc
p22_idf_vec

          freq       idf
predict      3  4.321928
entropi      1  5.906891
effici       1  5.906891
search       3  4.321928
blackbox     1  5.906891
function     1  5.906891
optim       14  2.099536
global       2  4.906891

In [151]:
p23_idfcc = []
for i in p23_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p23_idfcc.append(x)
p23_idf_vec['idf'] = p23_idfcc
p23_idf_vec

               freq       idf
qa                1  5.906891
understand        1  5.906891
task              2  4.906891
tempor            4  3.906891
5                 1  5.906891
tempevalevalu     1  5.906891
semeval2015       1  5.906891
inform            9  2.736966
question          1  5.906891
answer            1  5.906891

In [152]:
p24_idfcc = []
for i in p24_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p24_idfcc.append(x)
p24_idf_vec['idf'] = p24_idfcc
p24_idf_vec

          freq       idf
machin       5  3.584963
neural      10  2.584963
translat     6  3.321928
articl       1  5.906891
health       1  5.906891
system       3  4.321928
text         1  5.906891
lmu          1  5.906891
inform       9  2.736966
news         1  5.906891
munich       1  5.906891

In [153]:
p25_idfcc = []
for i in p25_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p25_idfcc.append(x)
p25_idf_vec['idf'] = p25_idfcc
p25_idf_vec

             freq       idf
neural         10  2.584963
perform         1  5.906891
architectur     1  5.906891
predict         3  4.321928
acceler         1  5.906891
search          3  4.321928

In [154]:
p26_idfcc = []
for i in p26_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p26_idfcc.append(x)
p26_idf_vec['idf'] = p26_idfcc
p26_idf_vec

          freq       idf
recent       1  5.906891
approach     3  4.321928
particl      1  5.906891
swarm        1  5.906891
problem      1  5.906891
optim       14  2.099536
global       2  4.906891

In [155]:
p27_idfcc = []
for i in p27_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p27_idfcc.append(x)
p27_idf_vec['idf'] = p27_idfcc
p27_idf_vec

          freq       idf
optim       14  2.099536
intellig     1  5.906891
reactiv      1  5.906891
search       3  4.321928

In [156]:
p28_idfcc = []
for i in p28_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p28_idfcc.append(x)
p28_idf_vec['idf'] = p28_idfcc
p28_idf_vec

               freq       idf
space             1  5.906891
electromagnet     1  5.906891
map               1  5.906891
optim            14  2.099536
techniqu          1  5.906891

In [157]:
p29_idfcc = []
for i in p29_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p29_idfcc.append(x)
p29_idf_vec['idf'] = p29_idfcc
p29_idf_vec

             freq       idf
optim          14  2.099536
multiobject     1  5.906891
nonlinear       1  5.906891

In [158]:
p30_idfcc = []
for i in p30_idf_vec['freq']:
        x = 1+math.log2(30/i)
        p30_idfcc.append(x)
p30_idf_vec['idf'] = p30_idfcc
p30_idf_vec

              freq       idf
hyperparamet     8  2.906891
banditbas        1  5.906891
approach         3  4.321928
hyperband        1  5.906891
optim           14  2.099536

In [159]:
p1_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p1_idf_vec.csv')
p2_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p2_idf_vec.csv')
p3_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p3_idf_vec.csv')
p4_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p4_idf_vec.csv')
p5_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p5_idf_vec.csv')
p6_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p6_idf_vec.csv')
p7_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p7_idf_vec.csv')
p8_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p8_idf_vec.csv')
p9_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p9_idf_vec.csv')
p10_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p10_idf_vec.csv')
p11_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p11_idf_vec.csv')
p12_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p12_idf_vec.csv')
p13_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p13_idf_vec.csv')
p14_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p14_idf_vec.csv')
p15_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p15_idf_vec.csv')
p16_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p16_idf_vec.csv')
p17_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p17_idf_vec.csv')
p18_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p18_idf_vec.csv')
p19_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p19_idf_vec.csv')
p20_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p20_idf_vec.csv')
p21_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p21_idf_vec.csv')
p22_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p22_idf_vec.csv')
p23_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p23_idf_vec.csv')
p24_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p24_idf_vec.csv')
p25_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p25_idf_vec.csv')
p26_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p26_idf_vec.csv')
p27_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p27_idf_vec.csv')
p28_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p28_idf_vec.csv')
p29_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p29_idf_vec.csv')
p30_idf_vec.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/p30_idf_vec.csv')

# Q3

In [160]:
no_jyufuku = []
for i in index_word:
    for j in i:
        no_jyufuku.append(j)

In [161]:
no_jyufuku = list(set(no_jyufuku))

In [162]:
len(no_jyufuku)

115

In [163]:
no_jyufuku = pd.DataFrame(no_jyufuku)

In [164]:
no_jyufuku.columns = ['word']

In [165]:
no_jyufuku.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/no_jyufuku.csv')

In [166]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
sentence = "optimization hyperparameter speed"
tokens = word_tokenize(sentence)
stemmer=PorterStemmer()

Output=[stemmer.stem(word) for word in tokens]

In [167]:
Output

['optim', 'hyperparamet', 'speed']

In [168]:
no_jyufuku = list(no_jyufuku['word'])

In [169]:
no_jyufuku.index('optim')

107

In [170]:
no_jyufuku.index('hyperparamet')

94

In [171]:
no_jyufuku.index('speed')

51

In [172]:
onehot_key = []
for i in no_jyufuku:
    if i == 'optim' or i == 'hyperparamet' or i == 'speed':
        onehot_key.append(1)
    else:
        onehot_key.append(0)

In [173]:
print(*onehot_key)

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0

In [174]:
len(onehot_key)

115

In [175]:
def get_freq_vec(stem,new_list,index_word,x):
    for i in range(len(stem)):
        for j in range(len(index_word[x])):
            new_list.append(stem[i].count(index_word[x][j]))

In [176]:
stem[0]

['combin',
 'charact',
 'word',
 'inform',
 'neural',
 'machin',
 'translat',
 'multilevel',
 'attent']

In [177]:
testlist = []
for i in range(len(no_jyufuku)):
    test1 = stem[0].count(no_jyufuku[i])
    testlist.append(test1)

In [181]:
allfreq = []
for i in range(len(stem)):
    for j in range(len(no_jyufuku)):
        freq = stem[i].count(no_jyufuku[j])
        allfreq.append(freq)

allfreq = list(chunked(allfreq, 115))

In [182]:
allfreq_df = pd.DataFrame(allfreq)

In [183]:
allfreq_df.columns = no_jyufuku

In [184]:
allfreq_df

,structur,extract,variabl,previou,multilevel,induc,reactiv,map,inform,semeval2015,...,blackbox,retriev,optim,space,intellig,qa,leverag,challeng,tune,network
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,2,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
9,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
14,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
23,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
26,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [185]:
all_tf = copy.deepcopy(allfreq)

In [186]:
for i in range(30):
    for j in range(115):
        if sum(allfreq[i]) != 0:
            all_tf[i][j] = round(allfreq[i][j]/sum(allfreq[i]),3)
        else:
            all_tf[i][j] = 0.000

In [187]:
all_tf_df = pd.DataFrame(all_tf)

In [188]:
all_tf_df.columns = no_jyufuku

In [189]:
all_tf_df

,structur,extract,variabl,previou,multilevel,induc,reactiv,map,inform,semeval2015,...,blackbox,retriev,optim,space,intellig,qa,leverag,challeng,tune,network
0,0.000,0.000,0.000,0.000,0.111,0.000,0.00,0.0,0.111,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
1,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.500,0.0,...,0.000,0.25,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
2,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.167
3,0.143,0.143,0.000,0.000,0.000,0.000,0.00,0.0,0.143,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.143,0.0,0.0,0.000
4,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.143,0.0,0.00,0.0,0.000,0.0,0.0,0.143
5,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.091,0.0,0.00,0.0,0.000,0.0,0.0,0.000
6,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.200,0.0,...,0.000,0.20,0.000,0.0,0.00,0.0,0.000,0.2,0.0,0.000
7,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.250,0.0,0.00,0.0,0.000,0.0,0.0,0.000
8,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.167,0.0,0.00,0.0,0.000,0.0,0.0,0.167
9,0.000,0.000,0.143,0.000,0.000,0.143,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
10,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.143,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
11,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
12,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.200,0.0,0.00,0.0,0.000,0.0,0.0,0.000
13,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.250,0.0,...,0.000,0.25,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
14,0.000,0.000,0.000,0.125,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.125,0.0,0.00,0.0,0.000,0.0,0.0,0.000
15,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.143,0.0,0.00,0.0,0.000,0.0,0.0,0.000
16,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.200,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
17,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.100,0.0,0.00,0.0,0.000,0.0,0.0,0.100
18,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
19,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.2,0.000
20,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
21,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.125,0.00,0.125,0.0,0.00,0.0,0.000,0.0,0.0,0.000
22,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.100,0.1,...,0.000,0.00,0.000,0.0,0.00,0.1,0.000,0.0,0.0,0.000
23,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.091,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
24,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.000,0.0,0.00,0.0,0.000,0.0,0.0,0.000
25,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.250,0.0,0.00,0.0,0.000,0.0,0.0,0.000
26,0.000,0.000,0.000,0.000,0.000,0.000,0.25,0.0,0.000,0.0,...,0.000,0.00,0.250,0.0,0.25,0.0,0.000,0.0,0.0,0.000
27,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.2,0.000,0.0,...,0.000,0.00,0.200,0.2,0.00,0.0,0.000,0.0,0.0,0.000
28,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.333,0.0,0.00,0.0,0.000,0.0,0.0,0.000
29,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.0,0.000,0.0,...,0.000,0.00,0.200,0.0,0.00,0.0,0.000,0.0,0.0,0.000

In [190]:
all_tf_df.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/all_tf.csv')

## all idf

In [191]:
all_idf_freq = copy.deepcopy(allfreq)

In [192]:
for i in range(len(allfreq)):
    for j in range(len(allfreq[i])):
        if allfreq[i][j] > 1:
            all_idf_freq[i][j] = 1

In [193]:
all_idf_freq_df = pd.DataFrame(all_idf_freq)

In [194]:
all_idf_freq_df.columns = no_jyufuku

In [195]:
all_idf_df = pd.DataFrame(all_idf_freq_df.sum())
all_idf_df.columns = ['freq']

In [196]:
allidf = []
for i in all_idf_df['freq']:
    x = 1+math.log2(30/i)
    allidf.append(x)
all_idf_df['idf'] = allidf

In [197]:
all_idf_df.to_csv('/Users/chenxiliu/Desktop/Doshisha/2021SS/情報アクセス技術/期末レポート/all_df.csv')

In [198]:
no_jyufuku.index('optim')

107

In [199]:
no_jyufuku.index('hyperparamet')

94

In [200]:
no_jyufuku.index('speed')

51

In [201]:
keyword = []
for i in no_jyufuku:
    if i == 'optim' or i == 'hyperparamet' or i == 'speed':
        keyword.append(1)
    else:
        keyword.append(0)

In [202]:
print(*keyword,sep=',')

0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0